{% extends 'base.html' %}
{% block content %}
<div class="mdc-card mb-4">
  <div class="mdc-card__content">
    <h2 class="mdc-typography--headline5 mb-4">Setup</h2>
    <form method="post" action="/setup" class="row mb-4">
      <div class="col-md-6">
        <div class="mdc-text-field">
          <input type="text" name="username" class="mdc-text-field__input" placeholder=" " required>
          <label class="mdc-text-field__label">Username</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mdc-text-field">
          <input type="password" name="password" class="mdc-text-field__input" placeholder=" " required>
          <label class="mdc-text-field__label">Password</label>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="mdc-button mdc-button--raised">Create Admin User</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} 